@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700&subset=cyrillic");
.text-light-blue {
  color: #AEE6FF;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/OpenSans-Light-Cyr.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/OpenSans-Light-Lat.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(../fonts/OpenSans-Regular-Cyr.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(../fonts/OpenSans-Regular-Lat.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(../fonts/OpenSans-SemiBold-Cyr.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(../fonts/OpenSans-SemiBold-Lat.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold-Cyr.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold-Lat.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/***************************
********** MIXINS **********
***************************/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

figcaption {
  color: #546e7a;
  font-size: .85em;
  margin-top: 0.5102rem;
}

.section {
  padding: 3.8416rem 0;
}

.section__header {
  margin: 0 0 1.4rem;
}

.section__title {
  color: #003459;
  font-weight: bold;
  font-size: 2.2rem;
}

.main-footer {
  background-color: #003459;
  padding: 1.4rem 0;
  margin-top: 1.96rem;
  color: white;
}

.navbar {
  background-color: #004c82;
}

@media (min-width: 992px) {
  .navbar {
    height: 60px;
  }
}

.navbar .container {
  height: 100%;
}

.navbar--fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-brand {
  width: 100px;
  height: auto;
  margin-top: -0.71429rem;
}

@media (min-width: 992px) {
  .navbar-brand {
    width: 170px;
    margin-top: -0.5102rem;
    padding: 0.71429rem 1.4rem 1rem;
    -ms-flex-item-align: start;
    align-self: flex-start;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #0070bf;
    -webkit-box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 0.5);
  }
}

.navbar-brand img {
  width: 100%;
  height: auto;
}

.navbar-collapse {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navbar .nav-item .nav-link {
  padding-left: 0.71429rem;
  padding-right: 0.71429rem;
}

.hero {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 1.96rem;
  padding-bottom: 1.96rem;
  background-image: url(./../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (min-width: 768px) {
  .hero {
    height: 100vh;
  }
}

.hero-container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-container--left, .hero-container--right {
  width: 100%;
}

@media (min-width: 992px) {
  .hero-container--left, .hero-container--right {
    width: 50%;
  }
}

.hero-container--left {
  text-align: center;
}

.hero-heading {
  font-size: 2.3rem;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 52, 89, 0.5);
  margin-bottom: 5.37824rem;
}

@media (min-width: 992px) {
  .hero-heading {
    font-size: 3rem;
  }
}

.hero--login .hero-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 992px) {
  .hero--login .hero-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.hero--login .hero-heading {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.hero__form {
  width: 450px;
  margin: 0 auto;
  max-width: 98%;
  padding: 1.96rem 1.4rem;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0 7px 18px -2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 7px 18px -2px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
}

.hero__form a {
  font-weight: 300;
}

.hero__form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__form .form-group.text-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.hero__form .form-group.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hero__form .form-group small {
  display: block;
  width: 100%;
  margin-top: 0.5102rem;
  text-align: right;
}

.hero__form .form-group .form-label {
  display: block;
  width: 120px;
  font-size: .85rem;
  margin-bottom: 0;
  color: #607d8b;
}

.hero__form .form-group .form-control {
  width: calc(100% - 120px);
}

.hero__form .form-group .form-check-label {
  color: #546e7a;
}

.hero__form .form-group .form-check-input {
  position: relative;
  top: -3px;
  margin-right: 0.5102rem;
}

.hero__form .form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1.96rem;
}

.hero__form .form-footer .btn {
  margin-left: auto;
}

.about__body {
  font-weight: 300;
}

.about.product, .about.partners {
  background-color: #f5fbfe;
}

.about figure {
  width: 50%;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .about figure {
    width: 35%;
  }
}

.about figure.image--left {
  float: left;
  margin-right: 1.96rem;
}

.about figure.image--right {
  float: right;
  margin-left: 1.96rem;
}

.about figure img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.about figcaption {
  padding: 0 0.5102rem;
}

.about p {
  margin-top: 0;
}

.price .card {
  border-color: #cfebfc;
}

.price .card-header {
  background-color: #e2f3fd;
}

.price .card-header .btn {
  color: #003459;
}

.price .table tr:nth-child(even) td {
  background-color: #f5fbfe;
}

.price .table td:last-of-type {
  text-align: right;
}

.partners .btn {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 2px;
}

@media (max-width: 767.98px) {
  .partners .btn {
    font-size: 1em;
  }
}

.partners .btn span {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  top: -.2em;
  opacity: .35;
  font-size: .65em;
  margin-right: 5px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
}

.partners .btn.collapsed span {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.partners strong {
  font-weight: 700;
}

.contact-us .container {
  width: 90%;
  padding: 1rem;
  background-color: #f5fbfe;
}

@media (min-width: 576px) {
  .contact-us .container {
    width: 60%;
    padding: 1.96rem;
  }
}

.contact-us h4,
.contact-us h5 {
  line-height: 1.6;
}

.contact-us .alert {
  margin: 2.744rem 0;
}

.contact-us form {
  margin-top: 1.4rem;
  padding: 1rem;
  border: 1px solid #cfebfc;
  border-radius: 5px;
}

@media (min-width: 576px) {
  .contact-us form {
    padding: 1.96rem;
  }
}

.contact-us label {
  margin-bottom: 0;
}

.cabinet-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  min-height: 100vh;
  height: auto;
}

.cabinet-container--left, .cabinet-container--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 992px) {
  .cabinet-container--left, .cabinet-container--right {
    width: 50%;
  }
}

.cabinet-container--right {
  margin-top: 1.96rem;
}

@media (min-width: 992px) {
  .cabinet-container--right {
    margin-top: 0;
  }
}

.cabinet-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 1.96rem 0 3.8416rem;
  border-bottom: 3px solid #eceff1;
}

@media (min-width: 992px) {
  .cabinet-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 5.37824rem;
  }
}

.cabinet-header__username {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.cabinet-title {
  font-size: 2rem;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media (min-width: 992px) {
  .cabinet-title {
    font-size: 2.4rem;
    margin-left: auto;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

.cabinet__form {
  width: 400px;
  max-width: 96%;
  margin: 0 auto;
}

.cabinet__form + .cabinet__form {
  margin-top: 3.8416rem;
}

.cabinet__form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cabinet__form .form-group.text-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.cabinet__form .form-group.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cabinet__form .form-group small {
  display: block;
  width: 100%;
  margin-top: 0.5102rem;
  text-align: right;
}

.cabinet__form .form-group .form-label {
  display: block;
  width: 120px;
  font-size: .85rem;
  margin-bottom: 0;
  color: #607d8b;
}

.cabinet__form .form-group .form-control {
  width: calc(100% - 120px);
}

.cabinet__form .form-group .form-control:disabled {
  background-color: white;
  border-color: #eceff1;
}

.cabinet__form .form-group .form-check-label {
  color: #546e7a;
}

.cabinet__form .form-group .form-check-input {
  position: relative;
  top: -3px;
  margin-right: 0.5102rem;
}

.cabinet__form .form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cabinet__form .form-footer .btn {
  margin-left: auto;
}

.cabinet__form .form-footer .btn + .btn {
  margin-left: 0.71429rem;
}

.card-order__title {
  margin-bottom: 1.96rem;
  font-size: 1.4rem;
}

.card-order__title small {
  display: block;
  margin-top: 1.4rem;
  font-size: 1rem;
  font-weight: 300;
}

.card-order ol {
  list-style-type: none;
  border: 2px solid #eceff1;
  margin: 0;
  padding: 0 1rem;
  font-weight: 300;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .card-order ol {
    padding-left: 1.96rem;
    padding-right: 1.96rem;
  }
}

.card-order ol p {
  margin-bottom: 0.5102rem;
}

.card-order ol strong {
  font-weight: 700;
}

.card-order ol > li {
  position: relative;
  margin: 2.744rem 0;
  padding-left: 2.3rem;
}

.card-order ol > li::before {
  position: absolute;
  left: 0;
  top: -.2rem;
  content: '1';
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.9rem;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  background-color: #eceff1;
}

.card-order ol > li:nth-child(2)::before {
  content: '2';
}

.card-order ol > li:nth-child(3)::before {
  content: '3';
}

.card-order ol > li.is-active::before {
  background-color: #28a745;
  color: white;
}

.card-order ol ul {
  padding-left: 1rem;
}

.user-statistic {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  max-width: 96%;
  margin: 0 auto 1.96rem;
}

.user-statistic img {
  position: absolute;
  left: 10px;
  top: 8px;
  width: 90px;
  height: auto;
  opacity: .65;
}

.user-statistic .table {
  display: block;
  width: 100%;
  font-size: 1.166rem;
  padding: 65px 1.4rem 1rem;
  background-color: #08AEEA;
  background-image: -webkit-linear-gradient(135deg, #08AEEA 0%, #2AF598 100%);
  background-image: -o-linear-gradient(135deg, #08AEEA 0%, #2AF598 100%);
  background-image: linear-gradient(315deg, #08AEEA 0%, #2AF598 100%);
  border-radius: 5px;
  color: white;
}

@media (min-width: 768px) {
  .user-statistic .table {
    padding-left: 1.96rem;
    padding-right: 1.96rem;
  }
}

.user-statistic__footer {
  text-align: right;
}

/*# sourceMappingURL=app.css.map */
