$grey: #777;
$dark-grey: #333;
$light-grey: #eff0f3;
$very-light-grey: #f7f7f9;
$dark-grey: #3c3f43;
$blue-grey: #ddefe7;
$brand-yellow: #ffdc2c;
$brand-red: #fb2539;
$brand-orange: #ff8941;
$brand-green: #57ae85;

$input-border-color: #c2c2c2;

$footer-bgc: #474a4e;

$brand-fb: #3b5998;
$brand-gp: #dd4b39;
$brand-tw: #1da1f2;
$brand-yt: #cd201f;
$brand-vk: #45668e;
$brand-ig: #833ab4;